include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include support/twindb-agent
include support/twindb-agent.logrotate
include support/twindb-agent.man
include scripts/twindb-agent.sh.in

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
