Source: twindb
Homepage: https://twindb.com
Maintainer: TwinDB Packager (TwinDB packager key) <packager@twindb.com>
Section: database
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7)
Vcs-Browser: https://code.launchpad.net/twindb-agent
Vcs-Bzr: bzr+ssh://bazaar.launchpad.net/%2Bbranch/twindb-agent/

Package: twindb
Architecture: all
Section: database
Priority: optional
Depends: ${misc:Depends}, lsof, percona-xtrabackup, gnupg, python (>= 2.6.0), mysql-connector-python (>= 2.0.0)
Description: backup and recovery tool for MySQL
 TwinDB is online backup service for MySQL.
 It includes scheduler, retention policy manager, storage.
 Visit us on https://twindb.com to get more details
Homepage: https://twindb.com
