#!/usr/bin/make -f

export DH_VERBOSE=1
#PYTHON2=$(shell pyversions -r)

%:
	dh $@

override_dh_install:
	set -e; \
	for python in $(PYTHON2); do \
		$$python setup.py install --install-layout=deb --root=$(CURDIR)/debian/twindb-agent ; \
	done
	dh_install
