#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_usrlocal:

override_dh_auto_install:
        python setup.py install --root=debian/charm --install-layout=deb --install-lib=/usr/share/charm --install-scripts=/usr/share/charm
  override_dh_auto_build:
